<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>SM.MS</title>
	<link rel="short icon" href="static/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<link href="/css/bootstrap.min.css?v=20180421" rel="stylesheet">
	<style type="text/css">
		body {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		.bs-callout {
			padding: 20px;
			margin: 20px 0;
			border: 1px solid #eee;
			border-left-width: 5px;
			border-radius: 3px;
		}
		.bs-callout-warning {
			border-left-color: #aa6708;
		}
	</style>
</head>
<body>
<div class="container"><div class="bs-callout bs-callout-warning" style="border-left-width: 2px;">File delete success.</div></div>
</body>
</html>
